/*////////////////////// GENERAL /////////////////////////*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Coiny', cursive;
    background-color: #fffdd1;

}

#backgroundImage {
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    max-height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/bg.svg);
    background-size: cover;
    background-color: #B4DCF2;
    overflow: hidden;
}

.background_color {
    animation: bg-color 3s forwards;
}

@keyframes bg-color {
    0%{background-color: #B4DCF2}
    100%{background-color: #4d4270}
}

.background_color2 {
    animation: bg-color2 3s forwards;
}

@keyframes bg-color2 {
    0%{background-color: #4d4270}
    100%{background-color: #B4DCF2}
}

#header {
    text-align: center;
    color: #5CB15D;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    margin: auto;
}

#title {
    margin-top: 3%;
    font-size: 3.5em;
}

#subtitle {
    font-size: 1.8em;
}


/********************  TITLE ANIMATION   ********************/

.title span {
    margin: 0 -0.5%;
}

.text1 {
   animation: loading 2.3s infinite alternate;
}
.text2 {
    animation: loading 2.3s infinite alternate;
    animation-delay: .1s;
}
.text3 {
    animation: loading 2.3s infinite alternate;
    animation-delay: .2s;
}
.text4 {
    animation: loading 2.3s infinite alternate;
    animation-delay: .3s;
}
.text5 {
    animation: loading 2.3s infinite alternate;
    animation-delay: .4s;
}
.text7 {
    animation: loading 2.3s infinite alternate;
    animation-delay: .5s;
}
.text8 {
    animation: loading 2.3s infinite alternate;
    animation-delay: .6s;
}
.text9 {
    animation: loading 2.3s infinite alternate;
    animation-delay: .7s;
}
.text10 {
    animation: loading 2.3s infinite alternate;
    animation-delay: .8s;
}
.text11 {
    animation: loading 2.3s infinite alternate;
    animation-delay: .9s;
}
.text12 {
    animation: loading 2.3s infinite alternate;
    animation-delay: 1s;
}
.text13 {
    animation: loading 2.3s infinite alternate;
    animation-delay: 1.1s;
}


@keyframes loading {

  0% {opacity: 1;}
  100% {opacity: 0;}
}
.subtitle{
    animation: Subtitle infinite;
    animation-duration: 2.5s;
}

@keyframes Subtitle {
    0% {opacity: 0.3}
    50%{opacity: 1}
    100% {opacity: 0.3}
}


.pointer{
    cursor: pointer;
}


/****** BLUE SKY ******/

.cloud1 {
    width: 20%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0px;
    animation: Cloud1 35s infinite;
}

@keyframes Cloud1 {
    0% {transform:translateX(-300px)}
    100% {transform:translateX(1800px)}
}

.cloud2 {
    width: 7%;
    max-width: 100px;
    position: absolute;
    top: 10%;
    left: -10%;
    animation: Cloud2 30s infinite;
}

@keyframes Cloud2 {
    0% {transform:translateX(-100px)}
    100% {transform:translateX(1800px)}

}

.cloud3 {
    width: 15%;
    position: absolute;
    top: 15%;
    left: -50%;
    animation: Cloud3 37s infinite;
}

@keyframes Cloud3 {
    0% {transform:translateX(-550px)}
    100% {transform:translateX(2000px)}


}

.cloud4 {
    width: 10%;
    position: absolute;
    top: 5%;
    left: -60%;
    animation: Cloud3 33s infinite;
}

@keyframes Cloud4 {
    0% {transform:translateX(-600px)}
    100% {transform:translateX(2200px)}
}




/****** NIGHT SKY ******/

#moon {
    position: absolute;
    right: 5%;
    top: 8%;
    width: 6%;
}

.star1 {
    position: absolute;
    top: 100px;
    animation: Star1 infinite;
    animation-duration: 2.5s;
}

@keyframes Star1 {
    0% {opacity: 0.3}
    50% {opacity: 1}
    100% {opacity: 0.3}
}

.star2 {
    animation: Star2 infinite;
    animation-duration: 2.5s;
}

@keyframes Star2 {
    0% {opacity: 1}
    50% {opacity: 0.3}
    100% {opacity: 1}
}

.moon {
    animation:
        moonMove 2s infinite,
        moonFadeIn 1s forwards;
}

@keyframes moonFadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes moonMove {
    0% {transform:translate(0, 0);}
    50%{transform:translate(0, -10px);}
    100% {transform:translate(0, 0);}
}

#star1_1 {
    width: 70%;
    max-width: 700px;
    position: absolute;
    top: 0%;
    left: 0px;
}

#star1_2 {
    width: 70%;
    max-width: 700px;
    position: absolute;
    top: 0%;
    right: 0px;
}

#star2_1 {
    width: 70%;
    max-width: 700px;
    position: absolute;
    top: 7%;
    left: 0px;
}

#star2_2 {
    width: 70%;
    max-width: 700px;
    position: absolute;
    top: 7%;
    left: 0px;
}

.stars {
    display: none;
}

/****** EGG COUNTER ******/

#egg_counter {
    width: 200px;
    height: 200px;
    border-radius: 7%;
    background-color: #F9F9E4;
    box-shadow: 7px 7px 7px 0 #888888;
    position: absolute;
    right: 6%;
    bottom: 10%;
    z-index: 999;
    text-align: center;
    margin: auto;
    font-size: 150px;
    color: #626466;
    font-family: 'Quicksand', sans-serif;
}




/****** IMAGES ******/

/****** BACKGROUND MOVING ******/

#first_right {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: right 1s;
    z-index: 997;
}

#first_left {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: left 1s;
    z-index: 997;
}

#second_stage {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: -1500px;
    right: 0;
    left: 0;
    margin: auto;
    transition: bottom 1s;
}



#grass_left1 {
    width: 55%;
    position: absolute;
    left: 0;
    bottom: 0;
}


#grass_right1 {
    width: 55%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 998;
}

#castle {
    width: 10%;
    position: absolute;
    left: 28%;
    bottom: 60%;
    z-index: 0;
}

.castle {
     display: inline-block;
     animation: Castle .5s  infinite;
}

@keyframes Castle {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(5px, 0px) rotateZ(4deg)}
    50% {transform: translate(0px, 0px) rotateZ(0deg)}
    75% {transform: translate(5px, 0px) rotateZ(-4deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}


.shaking {
     display: inline-block;
     animation: Shaking 1s  infinite;
}

@keyframes Shaking {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(5px, 5px) rotateZ(4deg)}
    50% {transform: translate(0px, 5px) rotateZ(0deg)}
    75% {transform: translate(5px, 0px) rotateZ(-4deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}



#carrot {
    width: 25%;
    position: absolute;
    left: 0;
    bottom: 30%;
}


#flag_left {
    width: 25%;
    max-width: 370px;
    max-height: 370px;
    position: absolute;
    top: -20px;
    left: 0;

}

#flag_right {
    width: 25%;
    max-width: 370px;
    max-height: 370px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 999;
}

#kinoko {
    width: 30%;
    max-width: 350px;
    max-height: 320px;
    position: absolute;
    right: -30px;;
    bottom: 200px;
    z-index: 990;
}

#rabbit1 {
    width: 25%;
    max-width: 430px;
    max-height: 430px;
    position: absolute;
    right: 25%;
    bottom: 15%;
    z-index: 998;
}

#rabbit_basket {
    width: 10%;
    max-width: 120px;
    max-height: 120px;
    position: absolute;
    right: 29%;
    bottom: 17%;
    z-index: 999;
}

.rabbit1 {
    animation: Rabbit1  infinite;
    animation-duration: 3s;
}

@keyframes Rabbit1 {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 5px) rotateZ(3deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-3deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}



#rabbit2 {
    width: 12%;
    max-width: 170px;
    max-height: 170px;
    position: absolute;
    right: 58%;
    bottom:37%;
}

.rabbit2 {
    animation: Rabbit2 3s infinite;
}

@keyframes Rabbit2 {
    0% {transform:translate(0, 0);}
    50%{transform:translate(0, 90px);}
    100% {transform:translate(0, 0);}
}

#hole1 {
    width: 18%;
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    right: 55%;
    bottom:25%;
    z-index: 999;
}

#eggrabbit1 {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 45%;
    top:-10%;
}


.eggrabbit1 {
    animation: Eggrabbit1 10s infinite;
}

@keyframes Eggrabbit1 {
    0% {transform: translate(300px, -100px) rotateZ(0deg)}
    50% {transform: translate(-100px, 350px) rotateZ(0deg)}
    75% {transform: translate(-1000px, 350px) rotateZ(0deg)}
    100% {transform: translate(-1000px, -100px) rotateZ(0deg)}
}


#egg1  {
    width: 15%;
    position: absolute;
    left: 5%;
    bottom: 9.5%;
}

#egg2  {
    width: 15%;
    position: absolute;
    left: 14%;
    bottom: 0%;
}

#egg3  {
   position: absolute;
    width: 10%;
    left: 5%;
    bottom: 68%;
    z-index: 999;
}


/****** SECOND PAGE ******/


#back_flowers{
    width: 85%;
    position: absolute;
    right: 5%;
    bottom: 45%;

}

#phone_flowers{
    display: none;
}


#grass_right2 {
    width: 60%;
    position: absolute;
    right: -5%;
    bottom: -2%;
}

#grass_left2 {
    width: 60%;
    position: absolute;
    left: 0;
    bottom: -3%;
}

#kinoko2 {
    width: 20%;
    position: absolute;
    left: -5%;
    bottom: -3%;
}

#rabbit3 {
    width: 23%;
    position: absolute;
    left: 10%;
    bottom: 25%;
    animation-name: shake2;
    animation: shake2  infinite;
    animation-duration: 3s;
}



#rabbit5 {
    width: 24%;
    position: absolute;
    left: 17%;
    bottom: 25%;
    display: none;
}

#hunting img: first-child {
    display: inline;
}

#rabbit4 {
    width: 8%;
    position: absolute;
    right: 32%;
    bottom:35%;
    animation-name: shake2;
    animation: shake2  infinite;
    animation-duration: 3s;
    transition: bottom 1s;

}

@keyframes shake2 {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(7px, 7px) rotateZ(7deg)}
    50% {transform: translate(0px, 0px) rotateZ(0deg)}
    75% {transform: translate(0px, 0px) rotateZ(-7deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}


#hole2 {
    width: 15%;
    position: absolute;
    right: 28%;
    bottom:30%;
    z-index: 999;
}

#bud {
    width: 7%;
    position: absolute;
    bottom:620px;
    left: 45%;
}

#bloom {
    width: 13%;
    position: absolute;
    bottom:70%;
    left: 45%;
}

#bloom_egg {
    width: 7%;
    position: absolute;
    top:13%;
    left: 50%;
}

.bloom {
    display: none;
}

.fadeout {
  animation : fadeOut 3s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadein {
  animation : fadeIn 5s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#eggrabbit2 {
    width: 4%;
    position: absolute;
    left: 40%;
    bottom:25%;
}

.eggrabbit2 {
    display: inline-block;
    animation: shakshake .1s  infinite;
}

@keyframes shakshake {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}


#eggrabbit3 {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0px;
    bottom:420px;
}

.eggrabbit3 {
    animation: Eggrabbit3 8s infinite;
}

@keyframes Eggrabbit3 {
    0% {transform:translateX(100px)}
    100% {transform:translateX(-1500px)}
}


#egg10 {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 35%;
    bottom: 650px;


}



/****** POP-UP WINDOW ******/

#popup_bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
}

/*** X Button ***/

.close:before, .close:after{
    content:'';
    height:5px;
    width:30px;
    display:block;
    background-color:#7a7a7a;
    border-radius:10px;
    position:absolute;
    top:35px;
    right:25px;
    transform:rotate(-45deg);
}

.close:after{
    transform:rotate(45deg);
}

.close:hover:before{
    background-color:#afafaf;
}

.close:hover:after{
    background-color:#afafaf;
}



.popup {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #f7f7f2;
    padding: 40px 70px;
    width: auto;
    height: 400px;
    width: 700px;
    border-radius: 20px;
    color: #626466;
    z-index: 999;
    display: none;

}

.popup h2 {
    font-size: 35px;
    color: #5CB15D;
    text-align: center;
}

.popup p {
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 10px;
    width: 270px;
    height: 80px;
    margin: 50px;
    font-size: 30px;
}

.btn:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

#yes_btn {
    background-color: #eda6ae;
}

#no_btn {
    background-color: #5db9b4;
}

#button_container {
    margin-top: 40px;
    text-align: center;
    display: flex;
}





/****** CONGLATURATIONS ******/

#conglatu {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 1500px;
    right: 0;
    left: 0;
    margin: auto;
    transition: bottom 3s;
    display: none;

}

#basket {
    width: 40%;
    height: 70%;
    position: absolute;
    bottom: 150px;
    right: 0;
    left: 0;
    margin: auto;
}

.dancing_bunny {
    width: 10%;
    position: absolute;


}
.dancing1 {
    animation-name: dancing;
    animation: dancing infinite;
    animation-duration: 2s;
}

@keyframes dancing {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}

.dancing2{
    animation-name: dancing2;
    animation: dancing2 infinite;
    animation-duration: 2s;

}

@keyframes dancing2 {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}

.dancing_bunny2 {
    width: 280px;
    height: 280px;
    bottom: 250px;
}


.dance_bunny1 {
    left: 150px;
}

.dance_bunny2 {
    right: 120px;
}

.dance_bunny3 {
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px
}

.dancing_eggrabbit {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 120px;
}


.dancing_eggrabbit_LEFT{
    left: 300px;
}

.dancing_eggrabbit_RIGHT{
    right: 300px;
}

/*************   SAKURA  *****************/

.hana{
	position:absolute;
    top:-30px;
    left:-30px
	height:0;
	width:0;
	border: 10px solid pink;
    border-radius: 15px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
}

.hana::after{
	content:"";
	display:block;
	position:absolute;
	top:-7px;
	left:-7px;
	height:0;
	width:0;
	border: 10px solid pink;
	border-radius: 15px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	transform: rotate(15deg);
}
